@keyframes move {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(12%);
  }

  100% {
    transform: translateY(0%);
  }
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}